body{
margin :0px auto;
width:980px;
padding:0px 15px;
background:#3E3E3E;
}

#about{
padding: 10px 10px;
}

#mainWrapper{
width:980px;
margin-top:-20px;
background: #FFF;
}
#loginWrapper{
width: 315px;
padding: 20px;
float: right;
}

#registerWrapper{
    margin-left: 30px;
    padding: 20px 0px;
    width: 200px;
}
#tubiconWrapper{
    margin-left: 104px;   
    padding-top: 100px;
}

#logout{
float:right;
}

#search{
padding:10px 10px;
background: #EEEEEE;
width:400px;
margin :0px auto;
margin-top: -20px;
}

#searchwrapper{
    background: #DEDEDE;
}

#loginWrapper{
padding-top: 20px;
}


#rolltext{
background:#000;
opacity:0.5;
color:#FFF;
font-weight:bold;
}

a{
text-decoration:none;
}



#newuser{
padding:10px 10px;
width: 600px;
}

#newuserleft{
    float:left;
    width: 250px;
    margin-left: 30px;
}

#newuserright{
    float:left;
    width: 200px;
}

input{
    height: 28px !important;
}


footer{
    color:#FFF;
}


.uploadProjectWrapper{
    padding: 50px 50px;
    background: #FFF;
}

.right{
    float:right;
}

.left{
    float:left;
}

#uploadProjectRight{
    padding-left:20px;    
}

#uploadproject{
    margin-top:120px;
}

#newprojectcontent{
    height: 300px;
}